body{
    background: #182932;
    width:88%;
    margin:0 auto;
    display:grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    font-family: 'Poppins', Sans-Serif; 
}

p{
    color:#fff;
    font-weight: 300;
    margin-top:0;
    margin-bottom: 1em;
}

a{
    text-decoration: none;
    font-size: 12px;
    color:#7592A7;
}

header{
    justify-self: end;
    align-self: end;
}

.logo{
    color:#EAEAE8;
    background: #938367;
    height:100px;
    width:100px;
    border-radius: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
}

h1{
    font-size: 60px;
    font-family: 'Bodoni'
}

em{
    color:#9CB8C9;
}

.content{
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

footer{
    grid-column: 2 / 2;
    grid-row:  3 / 3;
}

/*body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Open Sans', 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Open Sans', 'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}*/